<%= link_to  new_post_path do %>
  <p><i class="fas fa-pen"></i>新規投稿</p>
<% end %>

<%= link_to timeline_path do %>
  <p><i class="fas fa-users"></i>フォロー中のユーザーの投稿</p>
<% end %>

<%= link_to user_favorites_path(current_user) do %>
  <p><i class="fas fa-heart"></i>いいねした投稿</p>
<% end %>

<%= link_to posts_path do %>
  <p><i class="fas fa-globe"></i>みんなの投稿</p>
<% end %>

<%= link_to users_path do %>
  <p><i class="fab fa-wordpress-simple"></i>全てのユーザー</p>
<% end %>

<div class="category_search my-2 border p-2">
  <h6>カテゴリー検索</h6>
  <%= form_with url: category_path(:id), method: :get do |f| %>
    <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name) %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="search_form mt-3 border p-2">
  <h6>キーワード検索</h6>
  <%= form_with url: search_path, method: :get do |f| %>
    <%= f.text_field :word, maxlength: "15" %>
    <%= f.select :range, options_for_select([["ユーザー検索", "User"], ["投稿検索", "Post"]]) %>
    <%= f.select :search, options_for_select([["完全一致", "perfect_match"], ["前方一致", "forward_match"],
                                              ["後方一致", "backward_match"],["部分一致", "partial_match"]]) %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<% if current_user.name != "guestuser" %>
  <div>
    <%= link_to edit_user_path(current_user) do %>
      <p class="mt-3"><i class="fas fa-user-cog"></i>プロフィールを編集する</p>
    <% end %>
  </div>
<% end %>

<div>
  <%= link_to new_opinion_path do %>
    <p class="mt-3"><i class="far fa-envelope"></i>ご意見フォーム</p>
  <% end %>
</div>

<div>
  <%= link_to opinions_path do %>
    <p class="mt-3"><i class="fas fa-check-square"></i>送信済みのご意見</p>
  <% end %>
</div>

<% if current_user.name != "guestuser" %>
  <div>
    <%= link_to "退会する", unsubscribe_path(current_user) %>
  </div>
<% end %>
