<!--ユーザー画面-->
<div class="container-fluid">
  <div><%= flash[:notice] %></div>
  <div class="row">
    <div class="col-3">
      <p class="sidebar">サイドバー</p>
      <%= link_to "新規投稿", new_post_path %>
      <%= link_to "みんなの投稿", posts_path %>

      <div class="search_form">
        <%= form_with url: search_path, method: :get do |f| %>
          <%= f.text_field :word %>
          <p><%= f.select :range, options_for_select([["ユーザー検索", "User"], ["投稿検索", "Post"]]) %></p>
          <%= f.select :search, options_for_select([["完全一致", "perfect_match"], ["前方一致", "forward_match"],
                                                    ["後方一致", "backward_match"],["部分一致", "partial_match"]]) %>
          <%= f.submit "検索" %>
        <% end %>
      </div>

      <div class="category_search">
        <p>カテゴリー検索</p>
        <%= form_with url: category_path(:id), method: :get do |f| %>
          <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name) %>
          <%= f.submit "検索" %>
        <% end %>
      </div>

    </div>

    <div class="col-9">
      <%= image_tag @user.get_image(50, 50) %>
      <%= @user.name %>
      <%= link_to "フォローリスト", user_followings_path(@user) %>
      <%= link_to "フォロワーリスト", user_followers_path(@user) %>

      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォローを外す", user_relationships_path(@user.id), method: :delete %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
        <% end %>
      <% end %>

      <%= month_calendar(events: @user.posts) do |date, posts| %>
        <%= date.day %>

        <% posts.each do |post| %>
          <div>
            <%= link_to post_path(post) do %>
              <%= post.title %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% if (@user == current_user) && (@user.name != "guestuser") %>
        <div>
          <%= link_to "編集する", edit_user_path(@user) %>
        </div>
        <div>
          <%= link_to "退会する", unsubscribe_path(@user) %>
        </div>
      <% end %>
    </div>


  </div>
</div>


