<!--ユーザー画面-->
<div class="container-fluid">
  <div><%= flash[:notice] %></div>
  <div class="row">
    <div class="col-lg-9 col-sm-12">
      <div class="m-4">
        <%= image_tag @user.get_image(100, 100) %>
        <h4><%= @user.name %></h4>
        <p><%= @user.introduction %></p>
        <%= link_to "フォローリスト", user_followings_path(@user) %>
        <%= link_to "フォロワーリスト", user_followers_path(@user) %>

        <% unless @user == current_user %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォローを外す", user_relationship_path(@user.id), method: :delete %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
          <% end %>
        <% end %>
      </div>

      <%= month_calendar(events: @user.posts) do |date, posts| %>
        <%= date.day %>

        <% posts.each do |post| %>
          <div>
            <%= link_to post_path(post) do %>
              <%= post.title %>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>

    <div class="col-lg-3 col-sm-12 mt-3">
      <%= render 'public/shared/sidebar' %>
    </div>



  </div>
</div>


