<nav class="navbar navbar-expand-lg navbar-light" style="background-color: mediumaquamarine">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-lavel="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <ul class="navbar-nav ml-auto m-3">
        <li class="nav-item m-1">
          <%= link_to "マイページ", user_path(current_user), class:"text-white" %>
        </li>
        <li class="nav-item m-1">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"text-white" %>
        </li>
      </ul>

    <% elsif admin_signed_in? %>
      <ul class="navbar-nav ml-auto m-3">
        <li class="nav-item m-1">
          <%= link_to "会員一覧", admin_users_path, class:"text-white" %>
        </li>
        <li class="nav-item m-1">
          <%= link_to "投稿一覧", admin_posts_path, class:"text-white" %>
        </li>
        <li class="nav-item m-1">
          <%= link_to "カテゴリー一覧", admin_categories_path, class:"text-white" %>
        </li>
        <li class="nav-item m-1">
          <%= link_to "ご意見一覧", admin_opinions_path, class:"text-white" %>
        </li>
        <li class="nav-item m-1">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"text-white" %>
        </li>
      </ul>

    <% else %>
      <ul class="navbar-nav ml-auto m-3">
        <li class="nav-item m-1">
          <%= link_to "Top", root_path, class:"text-white" %>
        </li>
        <li class="nav-item m-1">
          <%= link_to "新規登録", new_user_registration_path, class:"text-white" %>
        </li>
        <li class="nav-item m-1">
          <%= link_to "ログイン", new_user_session_path, class:"text-white" %>
        </li>
      </ul>
    <% end %>
    </div>
  </div>
</nav>